body{
    background-image: url("appel.jpg");
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;  
    background-size: cover;
}

header{
    color: #FFF;
}

.form{
    background-color: rgba(180, 167, 54, 0.794);
    font-size: 18px;
    padding: 20px;
    color: #FFF;
}

#title{
    text-align: center;
    font-size: 2em;
}

#description{
    text-align: center;
    font-style: italic;
    font-weight: 200px;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 40%);
    font-size: 1.125rem;
}

.btn{
    font-size: 18px !important;
    background-color: rgb(55, 175, 101) !important;
    color: white !important;
}

.btn:hover{
    border: 2px solid rgb(55, 175, 101);
}

.form-control:hover{
    border: 2px solid hsla(207, 45%, 58%, 0.856);
}

label{
    display: block;
    font-size: 1.25rem;
}


/* @media only screen and (max-width: 540px) {
    form{
        width: 470px;
        padding-left: 20px;
    }
    #description{
        font-weight: 150px;
        font-size: 1rem;
    }
    .form-control{
        width: 450px;
        height: 35px;
    }
    
    #dropdown{
        width: 465px;
        height: 40px;
    }
    
    #most-like{
        width: 465px;
        height: 40px;
    }

    button{
        width: 465px;
    }

    #comment{
        width: 460px; 
    }
}

@media only screen and (max-width: 414px) {
    form{
        width: 315px;
        padding-left: 20px;
    }
    #description{
        font-weight: 150px;
        font-size: 1rem;
    }
    .form-control{
        width: 300px;
        height: 35px;
    }
    
    #dropdown{
        width: 310px;
        height: 40px;
    }
    
    #most-like{
        width: 310px;
        height: 40px;
    }

    button{
        width: 310px;
    }

    #comment{
        width: 305px; 
    }
} */



